#score {
  font-size: 50pt;
}

#review-table {
  tr:hover {
    cursor: pointer;
  }
}

#table-body > tr > td * {
  pointer-events: none;
}

#review-question-popup {
  max-height: 90vh;

  > div {
    max-height: 70vh;

    > div {
      overflow: auto !important;
    }
  }
}

.bg-correct {
  background-color: #ccffcc;
}

.bg-incorrect {
  background-color: #ffcccc;
}